dum.py
discarded_temp_code.py
detailed_prod_clean.ipynb
*.jpg
svm_sketchpad.ipynb
Final_Data_*.xlsx
sketch*
mnist.ipynb
mnist
t10k*
train-labels*
train-images*
image_class_ml.ipynb
pytorch_img_classifier.ipynb
tab_data.csv
train_test.csv
trains_test.xlsx
*.xlsx
runs
excel_sk.ipynb

